@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-neutral-dark bg-neutral-light;
    font-size: 16px;
    line-height: 1.6;
  }

  h1 {
    @apply text-4xl font-bold text-neutral-dark;
    line-height: 1.2;
  }

  h2 {
    @apply text-3xl font-semibold text-neutral-dark;
    line-height: 1.2;
  }

  h3 {
    @apply text-xl font-medium text-neutral-dark;
    line-height: 1.2;
  }
}

